<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="../css/estilos.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Agendar Cita</h1>
	<form th:action="@{/citas/mostrar/citaAgendada}" th:object="${citaMedica}" th:method="GET">
		<div class="table table-dark table-striped">
			<table>
				<tr>
					<td>
						<label>Numero:</label>
					</td>
					<td>
						<input type="text" id="num" th:field="*{numero}">
					</td>
				</tr>
				<tr>
				<td>
					<label>Fecha cita:</label>
				</td>
				<td>
					<input class="form-control" type="datetime-local" id="fecha" th:field="*{fechaCita}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Valor cita:</label>
				</td>
				<td>
					<input type="number" step="0.1" id="valor" th:field="*{valor}">
				</td>
			</tr>
				<tr>
					<td>
						<label>Lugar Cita:</label>
					</td>
					<td>
						<input type="text" id="lug" th:field="*{lugar}">
					</td>
				</tr>
				<tr>
					<td>
						<label>Cedula doctor:</label>
					</td>
					<td>
						<input type="text" id="doc" th:field="*{doctor.cedula}">
					</td>
				</tr>
				<tr>
					<td>
						<label>Cedula Paciente:</label>
					</td>
					<td>
						<input type="text" id="pac" th:field="*{paciente.cedula}">
					</td>
				</tr>
				<tr>
				</tr>
			</table>
		</div>
		<input class="btn btn-outline-dark" type="submit" value="Agendar">
	</form>
</body>



</html>